body {
  background-color: #393e46;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.dice-container > div {
  flex: 1 1 0;
  max-width: 35vw;
}

h1 {
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931; /*水平方向向右5px的阴影(向左就是-5px)，垂直方向没有阴影，阴影颜色为... 。还可以通过blur-radius调整阴影区域的大小*/
  font-size: 6rem; /*用vw比rem更加responsive */
  font-weight: 700;
  color: #4ecca3;
}

p {
  font-size: 1.5rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  max-width: 100%;
}

.button-style{
    text-decoration: none; /*去掉href自带的下划线 */
    color: #393e46;
    text-shadow: 5px 0 1rem white;
    font-family: "Indie Flower", cursive;
    font-weight: 1000;
    font-size: 2rem;
    background-color: #4ecca3;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
  color: #eeeeee;
  font-family: "Indie Flower", cursive;
  font-size: 1rem;
}

.win-text{
    font-size: 5.5rem;
}

@media (max-width:600px) {
 h1{
  font-size: 4rem;
 }
 
 .win-text{
  font-size: 4rem;
 }

 .button-style{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 1.75rem;
 }

 footer{
  font-size: 1rem;
 }
}
